[submodule "source/External/ImGui"]
	path = source/External/ImGui
	url = https://github.com/Serialbocks/ImGui.git
[submodule "source/External/fmt"]
	path = source/External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "source/External/BakkesModSDK"]
	path = source/External/BakkesModSDK
	url = https://github.com/bakkesmodorg/BakkesModSDK.git
[submodule "source/External/simdjson"]
	path = source/External/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "source/External/libsm64-supersonic-mario"]
    path = source/External/libsm64-supersonic-mario
    url = https://github.com/Serialbocks/libsm64-supersonic-mario.git
[submodule "source/External/kiero"]
    path = source/External/kiero
    url = https://github.com/Serialbocks/kiero.git
[submodule "source/External/soloud"]
    path = source/External/soloud
    url = https://github.com/Serialbocks/soloud.git
[submodule "source/External/soxr"]
    path = source/External/soxr
    url = https://github.com/chirlu/soxr.git