[submodule "source/External/ImGui"]
	path = source/External/ImGui
	url = https://github.com/johnrackcoach/ImGui.git
[submodule "source/External/fmt"]
	path = source/External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "source/External/BakkesModSDK"]
	path = source/External/BakkesModSDK
	url = https://github.com/bakkesmodorg/BakkesModSDK.git
[submodule "source/External/simdjson"]
	path = source/External/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "source/External/libsm64"]
    path = source/External/libsm64
    url = https://github.com/johnrackcoach/libsm64.git
[submodule "source/External/kiero"]
    path = source/External/kiero
    url = https://github.com/johnrackcoach/kiero.git
[submodule "source/External/NetcodeManager"]
    path = source/External/NetcodeManager
    url = https://github.com/CinderBlocc/NetcodeManager.git
[submodule "source/External/soloud"]
    path = source/External/soloud
    url = https://github.com/johnrackcoach/soloud.git
[submodule "source/External/soxr"]
    path = source/External/soxr
    url = https://github.com/chirlu/soxr.git